<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>      
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.plugin.modelviewchecker.ModelViewCheckerServicePlugin</implementationClass>
		<description>Model checker based on mvdXML</description>
		<name>mvdXML checker</name>
	</JavaPlugin>
</PluginDescriptor>